.drg-label-input {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: $inputPlaceholderSize;
  color: $inputTextColor;
  font-weight: 500;
}